body {
    margin:0;
    background:#050008;
    color:white;
    font-family:Arial;
}

header {
    background:#120018;
    padding:10px;
    display:flex;
    justify-content:space-between;
}

nav button {
    margin:3px;
}

.page {
    display:none;
    padding:15px;
}

.page.active {
    display:block;
}

#diceVisual img {
    width:120px;
    animation: spin 1s linear infinite;
}

canvas {
    width:100%;
    height:70vh;
    background:black;
}

#avatarPreview {
    width:150px;
    border-radius:50%;
}

.audio-controls {
    position:fixed;
    bottom:5px;
    right:5px;
}

@keyframes spin {
    from { transform:rotateY(0); }
    to { transform:rotateY(360deg); }
}
