body {
    margin:0;
    background:#050008;
    color:white;
    font-family:Arial;
}

header {
    background:#120018;
    padding:10px;
    display:flex;
    justify-content:space-between;
}

nav button {
    margin:3px;
}

.page {
    display:none;
    padding:15px;
}

.page.active {
    display:block;
}

#diceVisual img {
    width:120px;
    animation: spin 1s linear infinite;
}

canvas {
    width:100%;
    height:70vh;
    background:black;
}

#avatarPreview {
    width:150px;
    border-radius:50%;
}

.audio-controls {
    position:fixed;
    bottom:5px;
    right:5px;
}

@keyframes spin {
    from { transform:rotateY(0); }
    to { transform:rotateY(360deg); }
}
.palette {
    position:fixed;
    left:5px;
    bottom:70px;
    display:flex;
    flex-direction:column;
    gap:5px;
    z-index:10;
}

.palette button {
    background:#2a0038;
    color:white;
    border:none;
    padding:5px;
    cursor:pointer;
}

.install-btn {
    position:fixed;
    bottom:10px;
    left:10px;
    background:#6b008f;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
}
